@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  font-family: "Roboto";
  color: white;
  text-shadow:0.5px 0.5px black;
  background-color: rgb(32, 32, 32);
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.navbar h1 {
  font-size: 75px;
  color: rgb(245, 222, 17);
} 

.navbar .links {
  margin-left: auto;
  background-color: rgb(32, 32, 32);
}

.navbar a {
  font-size: 25px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 15px;
  text-decoration: none;
  border: 1px dashed white;
  border-radius: 10px;
}

.navbar a:hover {
  border-radius: 10px;
  background-color:rgb(156, 13, 161);
  text-shadow:0.5px 0.5px black;
}

.content {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  font-size: 25px;
  background-color: rgb(32, 32, 32);
  height: 100vh;
}

.blog-preview {
  width: 1000px;
  padding: 20px;
  margin-top: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.blog-preview h2 {
  padding-bottom: 5px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-preview:hover{
  box-shadow: 2px 2px 5px rgb(255, 255, 255);
  border-radius: 10px;
}

.blog-list h1 {
  font-size: 50px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.alert {
  font-size: 50px;
}

.blog-details div {
  margin: 20px 0;
  text-align:justify;
}

.blog-details h2 {
  font-size: 50px;
  margin-bottom: 20px;
}